<h1>Recipes#edit</h1>

<h1>New Recipe</h1>

<div align="center">
  <%= form_for @recipe do |t| %>
    <p>
      <%= t.label :name %>
      <%= t.text_field :name %>
    </p>
    <p>
      <%= t.label :ingredients %>
      <%= t.text_field :ingredients %>
    </p>

    <p>
      <%= t.label :cook_time %>
      <%= t.text_field :cook_time %>
    </p>

    <p>
      <%= t.label :description %>
      <%= t.text_area :description %>
    </p>

    <p>
      <%= t.submit %>
    </p>
  <% end %>
<div>